<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="/transfer">
      <div id="FormLayout">
        <label>From:</label><input type="text" name="fromaccount" /><br/>
        <label>To:</label><input type="text" name="toaccount" /><br/>
        <label>Amount:</label><input type="text" name="amountmoney" /><br/>
        <button class="form_button">Submit</button>
      </div>
  </form>
  </body>
</html>
