<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/basic.js"></script>
    </head>
    <body>
        <h1>WHERE WE AT </h1>
        <p><%= fromaccount %></p>
        <p><%= toaccount %></p>
        <p><%= amountmoney %></p>
    </body>
</html>